

.container {
    max-width: var(--max-width);
    padding: 0 1.4rem;
    margin: auto;
}


/* buttons */

.btn {
    display: inline-block;
    padding: .7rem 2rem;
    transition:all .5s;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: #333;
    background-color: var(--primary-color);
}

.btn-light {
    color: #333;
    background-color: var(--light-color);
}

.btn-dark {
    color: #fff;
    background-color: var(--dark-color);
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: var(--primary-color);
}


/* background */

.bg-dark{
    background-color: var(--dark-color);
}
.bg-primary {
    background-color: var(--primary-color);
}
.bg-primary-2 {
    background-color: var(--primary-color-2);
}
.bg-light {
    background-color: var(--light-color);
}
.bg-medium {
    background-color: var(--medium-color);
}

/* padding */

.py-1{
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}
.py-4 {
    padding: 4rem 0;
}

.px-1 {
    padding: 0 1rem;
}
.px-2 {
    padding: 0 2rem;
}
.px-3 {
    padding: 0 3rem;
}
.px-4 {
    padding: 0 4rem;
}

/* margin */

.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}
.my-4 {
    margin: 4rem 0;
}

/* font-weight  */

.f-500 {
    font-weight: 500;
}
.f-600 {
    font-weight: 600;
}
.f-700 {
    font-weight: 700;
}

/* font-size */
.fs-1-5{
    font-size: 1.4rem
}
.fs-2 {
    font-size: 2rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-4 {
    font-size: 4rem;
}

/* text */

.i i{
    font-size: 3rem;
    color:var(--primary-color);
    margin-bottom: 1rem;
}
.text-center{
    text-align: center;
}

.section-title {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.border-bottom {
    height: 3px;
    width: 3rem;
    background-color: var(--primary-color);
    margin: 0 auto 1rem auto;
}
.lead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    word-spacing: 2px;
}