/* 
@import url("owlcarousel/owl.carousel.min.css");
@import url("owlcarousel/owl.theme.default.min.css"); */
.about-a .info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.2rem;
}

.about-a .info img {
    border: 1px solid var(--light-color);
    padding: 0.5rem;
    border-radius: 5px;
}

.info .info__bio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--light-color);
    padding: 0.8rem;
}

.about-b {
    color: #fff;
    margin-bottom: 2rem;
}

.about-b .progress{
    height: 20px;
    background-color: var(--primary-color-2);
    border-radius: 5px;
    margin-bottom: .8rem;
}
.about-b #progress-bars h4 {
    text-align: start;
}

.about-b #progress-bars .progress div {
    border-radius: 5px;
    height: 100%;
    background-color: var(--primary-color);
}


.about-c .about-logos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    align-items: center;
}
.about-c .about-logos img{
    width: 70%;
}

.about-d .references {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0.5rem;
}
.about-d .references ul{
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.about-d .references p {
    border: 1px solid var(--medium-color);
    border-radius: 5px;
    padding: .5rem;
}
.about-d .references img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding-right: 0.5rem;
}