* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.row {
    margin-top: 40px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col-4 {
    float: left;
    width: 25%;
}

.col-3 {
    float: left;
    width: 33.3%;

}

.col-2 {
    float: left;
    width: 50%;
}
@media (max-width:768px) {
    [class*="col-"]{
        width: 100%;
    }
}

.container {   
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px;
}

.img-fluid {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */

@media (min-width: 576px) {
    .container {
     margin: 0 auto;
     width: 540px;
    }
    html {
    font-size: 68%;
    }
        
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
    margin: 0 auto;
    width: 720px;
    }
    html {
        font-size: 72%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
    margin: 0 auto;
    width: 960px;
    }
     html {
        font-size: 75%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
    margin: 0 auto;
    width: 1140px;
    }
     html {
        font-size: 78%;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width: 1320px;
    }

    html {
         font-size: 82%;
    }
}